:root {
    --first-color: #8892B0;
    --second-color: #4BBEA9;
    --third-color: #0A192F;
    --fourth-color: #ffffff;
}

* {
    font-family: system-ui;
}

.app-body {
    padding: 40px;
}

.app-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-flex-start {
    display: flex;
    justify-content: start;
    align-items: center;
}
.app-flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
}