#languajes {
    margin-bottom: 60px;
}

.languajes-title {
    margin-bottom: 20px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, transparent, var(--second-color), transparent);
    border-image-slice: 1;
}
.languajes-title span {
    font-size: 32px;
    padding: 10px;
    color: var(--first-color);
}
.languajes-card {
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 6px 0px var(--first-color);
    -moz-box-shadow: 0px 0px 6px 0px var(--first-color);
    box-shadow: 0px 0px 6px 0px var(--first-color);
    transition: 0.3s;
}
.languajes-card:hover {
    transform: translate(0px, -14px);
    transition: 0.3s;
}

.languajes-card-title {
    font-weight: bolder;
    color: var(--third-color)
}

.languajes-card-title-decoration {
    color: var(--second-color);
    font-weight: 900;
    font-size: 20px;
}

.skills-progress-bar {
    background-color: var(--fourth-color);
    border: 1px solid var(--second-color);
    border-radius: 20px;
    margin: 8px;
}
.skills-progress-bar-fill {
    border-radius: 20px;
    background: var(--second-color);
    background-size: 200% 200%;
}

.skills-languaje {
    pointer-events: none;
    text-transform: capitalize;
    color: var(--fourth-color);
    background-color: transparent;
}